@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

@keyframes glitch-anim {
  0% {
    clip: rect(34px, 9999px, 7px, 0);
    transform: skew(0.57deg); }
  5% {
    clip: rect(51px, 9999px, 45px, 0);
    transform: skew(0.42deg); }
  10% {
    clip: rect(26px, 9999px, 39px, 0);
    transform: skew(0.87deg); }
  15% {
    clip: rect(30px, 9999px, 92px, 0);
    transform: skew(1deg); }
  20% {
    clip: rect(48px, 9999px, 15px, 0);
    transform: skew(0.76deg); }
  25% {
    clip: rect(82px, 9999px, 62px, 0);
    transform: skew(0.68deg); }
  30% {
    clip: rect(52px, 9999px, 23px, 0);
    transform: skew(0.34deg); }
  35% {
    clip: rect(23px, 9999px, 51px, 0);
    transform: skew(0.95deg); }
  40% {
    clip: rect(82px, 9999px, 1px, 0);
    transform: skew(0.71deg); }
  45% {
    clip: rect(13px, 9999px, 22px, 0);
    transform: skew(0.27deg); }
  50% {
    clip: rect(15px, 9999px, 8px, 0);
    transform: skew(0.75deg); }
  55% {
    clip: rect(61px, 9999px, 84px, 0);
    transform: skew(0.73deg); }
  60% {
    clip: rect(56px, 9999px, 7px, 0);
    transform: skew(0.26deg); }
  65% {
    clip: rect(20px, 9999px, 69px, 0);
    transform: skew(0.59deg); }
  70% {
    clip: rect(72px, 9999px, 73px, 0);
    transform: skew(0.05deg); }
  75% {
    clip: rect(70px, 9999px, 61px, 0);
    transform: skew(0.1deg); }
  80% {
    clip: rect(58px, 9999px, 45px, 0);
    transform: skew(0.99deg); }
  85% {
    clip: rect(66px, 9999px, 44px, 0);
    transform: skew(0.81deg); }
  90% {
    clip: rect(18px, 9999px, 22px, 0);
    transform: skew(0.82deg); }
  95% {
    clip: rect(93px, 9999px, 83px, 0);
    transform: skew(0.24deg); }
  100% {
    clip: rect(66px, 9999px, 28px, 0);
    transform: skew(0.8deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(96px, 9999px, 60px, 0);
    transform: skew(0.56deg); }
  5% {
    clip: rect(14px, 9999px, 11px, 0);
    transform: skew(0.61deg); }
  10% {
    clip: rect(66px, 9999px, 85px, 0);
    transform: skew(1deg); }
  15% {
    clip: rect(54px, 9999px, 53px, 0);
    transform: skew(0.94deg); }
  20% {
    clip: rect(93px, 9999px, 82px, 0);
    transform: skew(0.22deg); }
  25% {
    clip: rect(43px, 9999px, 99px, 0);
    transform: skew(0.12deg); }
  30% {
    clip: rect(36px, 9999px, 8px, 0);
    transform: skew(0.76deg); }
  35% {
    clip: rect(36px, 9999px, 1px, 0);
    transform: skew(0.51deg); }
  40% {
    clip: rect(18px, 9999px, 40px, 0);
    transform: skew(0.29deg); }
  45% {
    clip: rect(54px, 9999px, 13px, 0);
    transform: skew(0.01deg); }
  50% {
    clip: rect(54px, 9999px, 58px, 0);
    transform: skew(0.79deg); }
  55% {
    clip: rect(25px, 9999px, 93px, 0);
    transform: skew(0.96deg); }
  60% {
    clip: rect(85px, 9999px, 1px, 0);
    transform: skew(0.65deg); }
  65% {
    clip: rect(14px, 9999px, 99px, 0);
    transform: skew(0.48deg); }
  70% {
    clip: rect(37px, 9999px, 79px, 0);
    transform: skew(0.01deg); }
  75% {
    clip: rect(55px, 9999px, 24px, 0);
    transform: skew(0.87deg); }
  80% {
    clip: rect(28px, 9999px, 13px, 0);
    transform: skew(0.11deg); }
  85% {
    clip: rect(87px, 9999px, 49px, 0);
    transform: skew(0.53deg); }
  90% {
    clip: rect(73px, 9999px, 21px, 0);
    transform: skew(0.85deg); }
  95% {
    clip: rect(73px, 9999px, 92px, 0);
    transform: skew(0.32deg); }
  100% {
    clip: rect(53px, 9999px, 37px, 0);
    transform: skew(0.57deg); } }

@keyframes glitch-skew {
  0% {
    transform: skew(4deg); }
  10% {
    transform: skew(-1deg); }
  20% {
    transform: skew(5deg); }
  30% {
    transform: skew(-1deg); }
  40% {
    transform: skew(0deg); }
  50% {
    transform: skew(-4deg); }
  60% {
    transform: skew(3deg); }
  70% {
    transform: skew(5deg); }
  80% {
    transform: skew(-3deg); }
  90% {
    transform: skew(-4deg); }
  100% {
    transform: skew(0deg); } }
