@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

@keyframes glitch-anim {
  0% {
    clip: rect(93px, 9999px, 65px, 0);
    transform: skew(0.5deg); }
  5% {
    clip: rect(12px, 9999px, 35px, 0);
    transform: skew(0.08deg); }
  10% {
    clip: rect(7px, 9999px, 88px, 0);
    transform: skew(0.36deg); }
  15% {
    clip: rect(95px, 9999px, 4px, 0);
    transform: skew(0.76deg); }
  20% {
    clip: rect(44px, 9999px, 6px, 0);
    transform: skew(0.98deg); }
  25% {
    clip: rect(26px, 9999px, 11px, 0);
    transform: skew(0.84deg); }
  30% {
    clip: rect(84px, 9999px, 58px, 0);
    transform: skew(0.37deg); }
  35% {
    clip: rect(19px, 9999px, 91px, 0);
    transform: skew(0.14deg); }
  40% {
    clip: rect(33px, 9999px, 75px, 0);
    transform: skew(0.4deg); }
  45% {
    clip: rect(94px, 9999px, 86px, 0);
    transform: skew(0.28deg); }
  50% {
    clip: rect(32px, 9999px, 94px, 0);
    transform: skew(0.67deg); }
  55% {
    clip: rect(30px, 9999px, 39px, 0);
    transform: skew(0.32deg); }
  60% {
    clip: rect(85px, 9999px, 95px, 0);
    transform: skew(0.74deg); }
  65% {
    clip: rect(21px, 9999px, 89px, 0);
    transform: skew(0.35deg); }
  70% {
    clip: rect(91px, 9999px, 83px, 0);
    transform: skew(0.21deg); }
  75% {
    clip: rect(65px, 9999px, 45px, 0);
    transform: skew(0.11deg); }
  80% {
    clip: rect(18px, 9999px, 24px, 0);
    transform: skew(0.1deg); }
  85% {
    clip: rect(30px, 9999px, 4px, 0);
    transform: skew(0.31deg); }
  90% {
    clip: rect(87px, 9999px, 18px, 0);
    transform: skew(0.19deg); }
  95% {
    clip: rect(33px, 9999px, 69px, 0);
    transform: skew(0.92deg); }
  100% {
    clip: rect(17px, 9999px, 91px, 0);
    transform: skew(0.48deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(73px, 9999px, 49px, 0);
    transform: skew(0.19deg); }
  5% {
    clip: rect(28px, 9999px, 16px, 0);
    transform: skew(0.89deg); }
  10% {
    clip: rect(93px, 9999px, 65px, 0);
    transform: skew(0.75deg); }
  15% {
    clip: rect(6px, 9999px, 83px, 0);
    transform: skew(0.1deg); }
  20% {
    clip: rect(46px, 9999px, 8px, 0);
    transform: skew(0.31deg); }
  25% {
    clip: rect(87px, 9999px, 30px, 0);
    transform: skew(0.67deg); }
  30% {
    clip: rect(97px, 9999px, 20px, 0);
    transform: skew(0.51deg); }
  35% {
    clip: rect(82px, 9999px, 75px, 0);
    transform: skew(0.94deg); }
  40% {
    clip: rect(55px, 9999px, 79px, 0);
    transform: skew(0.04deg); }
  45% {
    clip: rect(11px, 9999px, 77px, 0);
    transform: skew(0.55deg); }
  50% {
    clip: rect(76px, 9999px, 80px, 0);
    transform: skew(0.64deg); }
  55% {
    clip: rect(54px, 9999px, 10px, 0);
    transform: skew(0.45deg); }
  60% {
    clip: rect(8px, 9999px, 22px, 0);
    transform: skew(0.99deg); }
  65% {
    clip: rect(49px, 9999px, 27px, 0);
    transform: skew(0.49deg); }
  70% {
    clip: rect(29px, 9999px, 43px, 0);
    transform: skew(0.21deg); }
  75% {
    clip: rect(51px, 9999px, 71px, 0);
    transform: skew(0.37deg); }
  80% {
    clip: rect(71px, 9999px, 86px, 0);
    transform: skew(0.56deg); }
  85% {
    clip: rect(81px, 9999px, 75px, 0);
    transform: skew(0.85deg); }
  90% {
    clip: rect(100px, 9999px, 51px, 0);
    transform: skew(0.23deg); }
  95% {
    clip: rect(88px, 9999px, 6px, 0);
    transform: skew(0.48deg); }
  100% {
    clip: rect(24px, 9999px, 45px, 0);
    transform: skew(0.25deg); } }

@keyframes glitch-skew {
  0% {
    transform: skew(-3deg); }
  10% {
    transform: skew(3deg); }
  20% {
    transform: skew(-1deg); }
  30% {
    transform: skew(0deg); }
  40% {
    transform: skew(-2deg); }
  50% {
    transform: skew(1deg); }
  60% {
    transform: skew(-4deg); }
  70% {
    transform: skew(-2deg); }
  80% {
    transform: skew(-1deg); }
  90% {
    transform: skew(-1deg); }
  100% {
    transform: skew(2deg); } }
