.myWorks__container {
  height: auto; }
  .myWorks__container__title {
    padding: 20px; }
  .myWorks__container h4 {
    margin: 0;
    color: white;
    margin-bottom: 10px;
    font-size: 2em; }
  .myWorks__container h5 {
    margin: 0; }
  .myWorks__container span {
    margin: 0;
    color: #64DCDC; }
  .myWorks__container__projects img {
    background: blue;
    max-height: 10%;
    width: 100%;
    filter: grayscale(100%); }
